*.class
*.log
*.synctex.gz
*.orig
*.aux
*.script
*.backup
*.tex~
*.bib~
*.dvi
*.bbl
*.log
*.out
*.ps
*.blg
*.toc
*~
*.lof
*.lot
*.kate-swp
*.~*
*.tps
target
.classpath
.project
.idea
.settings
*.class
*.dtd
*.nav
*.snm
*.vrb
*.old